{{>head}}
{{>header}}


<h1>dein warenkorb:</h1>
<p>{{inhalt}}</p>

<a href="/warenkorb-hinzu/?produkt=1">Produkt 1 adden</a>
<a href="/warenkorb-hinzu/?produkt=2">Produkt 2 adden</a>
<a href="/warenkorb-hinzu/?produkt=3">Produkt 3 adden</a>
{{>footer}}